<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page - Flask Application</title>
</head>

<body>
    <h3>Login Here</h3>
    <form action="/login" method="post">
        <div>
            <label>Username :
                <input name="user" placeholder="username here" />
            </label>
        </div>
        <div>
            <label>Password :
                <input name="pass" placeholder="password here" />
            </label>
        </div>
        <div>
            <input type="submit" value="Login" />
        </div>
    </form>
</body>

</html>